
/*blog*/
.blog{
    display: flex;
    justify-content: space-between;
    padding: 40px 0 38px 0;
    border-bottom: 1px solid red;  
}
.blog__text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
    margin: 0;
}

.blog__text-top{
    margin: 0;
}

.blog__text-down{
    font-size: 18px;
    font-weight: 500;
    line-height: 140%;
    color: var(--color-text-gray-opacity);
    margin: 0;
}

.blog__img{
    width: 729px;
    height: 445.5px;
}

.blog__tabl{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 205px;
}

.blog__tabl-12{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 65px;
    border: none;
}

.tabl-2{
    position: absolute;
    left: 450px;
    width: 450px;
    height: 120px;
}

.tabl-1{
    position: relative;
    left: -50px; /* Сдвиг слоя влево */
    /*top: 50px; */
}

/* .tabl-2{
    
    width: 450px;
    height: 98px;
    position: relative;
    left: -200px; /* Сдвиг слоя влево */
    /* top: 100px; */
/* */