.padding-wrap{
    max-width: var(--layout-width);
    margin: 0 auto;
    padding: 0 264px ;
}

.text-top{
    font-size: 48px;
    font-weight: 600;
    line-height: 120%;
    /* color: var(--color-text-black); */
}


.text-bottom{
    width: 345px;
    height: 48px;
    font-size: 17px;
    font-weight: 800;
    line-height: 140%;
    text-align: center;
    color: var(--color-first);
    background-color: var(--color-second);
    padding: 12px 32px 12px 32px;
    border-radius: var(--border-34);
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    
    /* text-align: center; */
}


@media (max-width: 1800px) {
    .padding-wrap{
        padding: 80px 150px; 
    }
}

@media (max-width: 1500px) {
    .padding-wrap{
        padding: 80px 100px; 
    }
}

@media (max-width: 1280px) {
    .padding-wrap{
        padding: 80px 50px; 
    }
    .text-top{
        font-size: 32px;
        font-weight: 600;
        line-height: 120%;
    }
}

@media (max-width: 960px) {
    
}

@media (max-width: 720px) {
    .help__left{
        width: 327px;
        height: 279px;
    }
    .help{
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        gap: 74px;
    }
    .padding-wrap{
        padding: 48px 23px 0px 24px; 
    }
    .text-bottom{
        width: 328px;
        text-align: center;
        padding: 12px 10px;
        margin-bottom: 32px;
    }
    /* .text-top{
        font-size: 32px;
        font-weight: 600;
        line-height: 120%;
    } */
}