.footer{
    background-color: var(--color-bg-footer);
    max-width: var(--layout-width);
    margin: 0 auto;
    padding: 80px 264px 0;
}

.menu-small__finio{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.menu-small__item{
    list-style: none;
    font-size: 17px;
    font-weight: 500;
    line-height: 140%;
    color: var(--color-text-gray-opacity);
}

.menu-small__item a{
    color: var(--color-text-gray-opacity);
}

.menu-small__logo{
    color: var(--color-second);
    font-size: 36px;
    font-weight: 900;
    line-height: 140%;
    text-transform: uppercase;
}

.footer__menu{
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
}

.footer__copywrite{
    display: flex;
    justify-content: space-between;
    padding: 38px 0 38px 0;
    border-top: 1px solid red;  
}

