:root{
    --color-first: rgb(53, 126, 254);
    --color-second: rgb(255, 255, 255);
    --color-text-opacity: rgba(255, 255, 255, 0.8);
    --color-text-black: rgb(0, 0, 0);
    --color-text-gray: rgb(78, 93, 124);
    --color-text-gray-opacity: rgba(78, 93, 124, 0.5);
    --color-num: rgb(255, 199, 54);


}

*{
    box-sizing: border-box;
}

body{
    background: var(--color-first) ; 
    margin: 0;
    font-style: normal;
    font-weight: 400;
}