.hero-padding {
    background-color: var(--color-first);
}

.body-padding-row{
    padding: 55px 0 80px 0;
}

/* Hero */

.hero{
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}


.line{
    width: 2333px;
    height: 330px;
    background-color: var(--color-second);
    transform: rotate(-7.00deg);
    position: absolute;
    left: -170px;
    top: 670px;
    
}

.hero__text{
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 515px;
    position: relative;
    top: 73px;
}

.hero__text-top{
    color: var(--color-second);
    width: 550px;    
    font-size: 40px;
}


.logos-super{
    width: 333.89px;
    height: 85px;
}

.netbook{
    width: 1039px;
    height: 627px;  
    position: relative;
    left: -17px;
    z-index: 2;
}


@media (max-width: 1500px) {
    .netbook{
        width: 900px;
        height: 400px;
    }
    .line{
        transform: rotate(-4.00deg);
        left: -163px;
        top: 650px;
    }    
    .hero-padding{
        padding-top: 0;
    }
}

@media (max-width: 1280px) {
    .line{
        width: 2333px;
        height: 250px;
        background-color: var(--color-second);
        transform: rotate(-3.0deg);
        position: absolute;
        left: -163px;
        top: 690px;
    }
}

@media (max-width: 960px) {
    .netbook{
        display: none;
    }
    .line{
        transform: rotate(-3.00deg);
        left: -163px;
        top: 690px;
    }
}

@media (max-width: 720px) {
    .hero__text{
        gap: 24px;
        top: 0;
    }

    .hero__text-top{
        width: 328px;
        font-size: 32px;
    }

    .netbook{
        display: none;
    }
    .body-padding-row{
        padding-top: 32px;
    }
    .line{
        transform: rotate(-5.00deg);
        left: -163px;
        top: 578px;
    }
    .hero__text-top{
        font-size: 32px;
    }
}

@media (max-width: 480px) {
    .line{
        transform: rotate(-7.00deg);
        left: -163px;
        top: 500px;
    }
    .logos-super{
        width: 264px;
        height: 67px;
    }
}