.body-padding{
    max-width: var(--layout-width);
    margin: 0 auto;
    padding: 0 264px ;
    
}

.body-padding-row{
    padding: 40px 0 80px 0;
    border-bottom: 1px solid red;   
    /* border-top: 1px solid red;  */
}

/* Hero */

.hero{
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
    border-bottom: 1px solid red;  
}

/* .hero {
    height: 300px;
    overflow: hidden;
    position: relative;
  }  */

.body-padding {
    background-color: var(--color-first);
}
   
/* .hero::after {
    background-color: var(--color-first);
    bottom: 0;
    content: '';
    left: 0;
    transform: rotate(-7.00deg);
    transform-origin: left bottom;
    position: absolute; 
    right: -100%;
    top: -100px;
    z-index: -1;
  } */

.line{
    width: 2333px;
    height: 300px;
    background-color: var(--color-second);
    transform: rotate(-7.00deg);
    position: absolute;
    left: -170px;
    top: 800px;
    
}

.hero__text{
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 515px;
    position: relative;
    top: 100px;
}

.hero__text-top{
    color: var(--color-second);

}

/* .hero__text-bottom{
    width: 345px;
    height: 48px;
    font-size: 17px;
    font-weight: 800;
    line-height: 140%;
    text-align: center;
    color: var(--color-first);
    background-color: var(--color-second);
    padding: 12px 32px 12px 32px;
    border-radius: var(--border-34);
    margin-bottom: 40px;
    
    
} */

.logos-super{
    width: 333.89px;
    height: 85px;
}

.netbook{
    width: 1039px;
    height: 627px;    
    position: relative;
    top: 140px;
    z-index: 2;
}



@media (max-width: 1800px) {
    
}

@media (max-width: 1500px) {
    
}

@media (max-width: 1200px) {
    
}

@media (max-width: 960px) {
    
}

@media (max-width: 720px) {
    .hero__text{
        gap: 24px;
        top: 0;
    }
    .netbook{
        display: none;
    }
    .body-padding-row{
        padding-top: 0;
    }
    .body-padding{
        padding-top: 32px;
    }
    .line{
        width: 2333px;
        height: 200px;
        background-color: var(--color-second);
        transform: rotate(-7.00deg);
        position: absolute;
        left: -163px;
        top: 520px;
        
    }
}

