.reviews-padding{
    background: var(--color-second);
}

.reviews{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.reviews-top{
    padding-bottom: 18px;
    margin: 0;
}

.arrow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 950px;
    position: relative;
    top: -250px;
}

.arrow-40{
    width: 84px;
    height: 84px;
    cursor: pointer;
}

.reviews-card{
    display: flex;
    width: 1156px;
    height: 438px;
    background-color: var(--color-first);
    box-shadow: 0px 0px 32px 0px rgba(78, 93, 124, 0.16);
    border-radius: 8px;
}

.reviews-left{
    width: 578px;
    height: 438px;
    display: flex;
    flex-direction: column;
    color: var(--color-second);
    padding: 120px 100px 113px 104px;
    gap: 30px;
}

.reviews-left__top{
    font-size: 28px;
    font-weight: 700;
    line-height: 140%;
}

.reviews-left__name{
    font-size: 17px;
    font-weight: 700;
    line-height: 140%;
}

.reviews-left__WB{
    font-size: 17px;
    font-weight: 500;
    line-height: 140%;
}

.reviews-profes{
    display: flex;
    flex-direction: column;
}

.reviews-right{
    width: 578px;
    height: 438px;
    border-radius: 0 8px 8px 0;
}

.dots{
    width: 56px;
    height: 8px;
}

.reviews-dots{
    text-align: center;
}

@media (max-width: 1900px) {
    .reviews-dots{
        display: none;
    }
}

@media (max-width: 1500px) {
    
}

@media (max-width: 1280px) {
    .reviews{
        padding-bottom: 64px;
    }

    .reviews-padding{
        padding-top: 68px;
        
    }

    .reviews-card{
        width: 328px;
        height: 609px;
        flex-direction: column-reverse;
    }    
    .reviews-right{
        width: 328px;
        height: 249px;
        border-radius: 8px;
    }
    .reviews-left{
        padding: 40px 24px 48px 24px ;
        width: 280px;
    }
    .reviews-left__top{
        font-size: 24px;
        font-weight: 700;
        line-height: 140%;
        word-wrap: break-word;
        width: 280px;
    }
    .arrow{
        display: none;
    }
    .reviews-dots{
        display: block;
    }
}



@media (max-width: 960px) {
    .reviews-padding{
        padding-top: 68px;
    }

    .reviews-card{
        width: 328px;
        height: 609px;
        flex-direction: column-reverse;
    }    
    .reviews-right{
        width: 328px;
        height: 249px;
        border-radius: 8px;
    }
    .reviews-left{
        padding: 40px 24px 48px 24px ;
        
    }
    .reviews-left__top{
        font-size: 24px;
        font-weight: 700;
        line-height: 140%;
        word-wrap: break-word;
        width: 280px;
    }
}