/* Time */

.time-padding{
    background: var(--color-first);
}


.time__img{
    display: flex;
    justify-content: center;
}

.time__img-slide{
    width: 1156px;
}

.time__top{
    color: var(--color-second);
    text-align: center;
    padding: 120px 0 24px;
    margin: 0;
}

.time__down{
    /* width: 1156px; */
    font-size: 18px;
    font-weight: 500;
    line-height: 140%;
    color: var(--color-second);
    text-align: center;
    padding-bottom: 40px;
}

.time-topping{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.time-bottom{
    display: flex;
    justify-content: center;
}

.exp{
    text-align: center;
}

/* .time__tex-bottom{
    margin: 0 auto 65pх;
} */


.time__tabl{
    display: flex;
    justify-content: center;
    padding-bottom: 120px;
}

.time__tabl-h3{
    font-size: 24px;
    font-weight: 700;
    line-height: 120%;
    color: var(--color-second);
}



.time__item{
    color: var(--color-text-opacity);
    font-size: 18px;
    font-weight: 500;
    line-height: 140%;
    /* padding-bottom: 24px; */
    padding-left: 8px;
}

.time__tabl-left li::marker {
	content: url("../img/exclamation-circle.svg");
}

.time__tabl-right li::marker {
	content: url("../img/check-circle.svg");
}


@media (max-width: 1800px) {
    
}

@media (max-width: 1500px) {
    
}

@media (max-width: 1200px) {
    
}

@media (max-width: 960px) {
    
}

@media (max-width: 720px) {
    .time__tabl{
        display: flex;
        flex-direction: column;
        padding-bottom: 64px;
    }
    .time__img-slide{
        width: 327px;
        margin-bottom: 54.41px;
    }
    .time__down{
        text-align: start;
    }
    .time__top{
        padding: 16px 0 24px;
    }
}